@page
@model StudentAccomodation.Pages.Apartments.GetApartmentsModel
@{
}
<h1>Apartments</h1>

<table class="table">
    <thead>
        <tr>
            <th>  Apartment Number   </th>
            <th>    Address  </th>
            <th>  Types  </th>
            <th>  Vacant rooms  </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.apartments)
        {
<tr>
    <td><b> @item.ApartmentNo</b> </td>
    <td> @item.Address </td>
    <td> @item.Types </td>
    <td> <a class="nav-link text-dark" asp-area="" asp-page="/Apartments/ApartmentRooms" asp-route-id="@item.ApartmentNo">Display rooms</a> </td>
</tr>
}
    </tbody>
</table>