@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="color:yellowgreen;">Student Accommondation System</h1>
    <img src="https://www.zealand.dk/wp-content/uploads/2019/01/Zealand_logo_black_RGB_1600px_72dpi.png" alt="Girl in a jacket" width="700">
</div>
